LANGUAGE 0x0409, 0x01

GOIDAManager DIALOG DISCARDMSG DEFAULTBUTTON 4 {
    CAPTION "GOIDA AI MANAGER"
    FONT 8, "MS Shell Dlg", 400, 0, 1, 0
    BEGIN
        CONTROL "",IDC_NAV_HOME,"BUTTON","TABS",25,30,180,50
        CONTROL "",IDC_NAV_TEMPLATES,"BUTTON","TABS",25,90,180,50
        CONTROL "",IDC_NAV_EDITOR,"BUTTON","TABS",25,150,180,50
        CONTROL "",IDC_NAV_MODELS,"BUTTON","TABS",25,210,180,50
        CONTROL "",IDC_NAV_FEMBOY,"BUTTON","TABS",25,270,180,50
        CONTROL "",IDC_NAV_MEMORY,"BUTTON","TABS",25,330,180,50
        LTEXT "",IDC_STATIC_MAIN,200,40,380,280
    END
}

TEMPLATE DIALOG DISCARDMSG DEFAULTBUTTON 4 {
    CAPTION "Шаблоны"
    FONT 8, "MS Shell Dlg", 400, 0, 1, 0
    BEGIN
        LTEXT "Имя:",-1,50,50,100,20
        EDITTEXT IDC_TMPL_NAME,160,50,200,20,ES_AUTOHSCROLL
        LTEXT "Модель:",-1,50,90,100,20
        EDITTEXT IDC_TMPL_MODEL,160,90,200,20,ES_AUTOHSCROLL
        LTEXT "Температура:",-1,50,130,100,20
        EDITTEXT IDC_TMPL_TEMP,160,130,200,20,ES_AUTOHSCROLL
        LTEXT "Системный промпт:",-1,50,170,100,20
        EDITTEXT IDC_TMPL_SYS_PROMPT,160,170,200,40,ES_AUTOHSCROLL | WS_VSCROLL
        LTEXT "Примеры:",-1,50,220,100,20
        EDITTEXT IDC_TMPL_EXAMPLES,160,220,200,60,ES_AUTOHSCROLL | WS_VSCROLL
        PUSHBUTTON "Сохранить",IDC_TMPL_SAVE,200,300,100,30
        PUSHBUTTON "Экспорт",IDC_TMPL_EXPORT,200,340,100,30
        PUSHBUTTON "Импорт",IDC_TMPL_IMPORT,200,380,100,30
    END
}

FEMBOY DIALOG DISCARDMSG DEFAULTBUTTON 4 {
    CAPTION "Настройки Femboy"
    FONT 8, "MS Shell Dlg", 400, 0, 1, 0
    BEGIN
        LTEXT "Имя Femboy:",-1,50,70,120,20
        EDITTEXT IDC_FEMBOY_NAME,180,70,200,20,ES_AUTOHSCROLL
        LTEXT "Голос:",-1,50,110,100,20
        COMBOBOX IDC_FEMBOY_VOICE,180,110,200,20,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        LTEXT "Глаза:",-1,50,150,100,20
        COMBOBOX IDC_FEMBOY_EYES,180,150,200,20,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        LTEXT "Волосы:",-1,50,190,100,20
        COMBOBOX IDC_FEMBOY_HAIR,180,190,200,20,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        LTEXT "Верхняя одежда:",-1,50,230,100,20
        COMBOBOX IDC_FEMBOY_TOP,180,230,200,20,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        LTEXT "Нижняя одежда:",-1,50,270,100,20
        COMBOBOX IDC_FEMBOY_BOTTOM,180,270,200,20,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        LTEXT "Обувь:",-1,50,310,100,20
        COMBOBOX IDC_FEMBOY_FEET,180,310,200,20,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        LTEXT "Уши:",-1,50,350,100,20
        COMBOBOX IDC_FEMBOY_EARS,180,350,200,20,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        PUSHBUTTON "Сохранить",IDC_TMPL_SAVE,200,390,100,30
    END
}

MEMORY DIALOG DISCARDMSG DEFAULTBUTTON 4 {
    CAPTION "Память"
    FONT 8, "MS Shell Dlg", 400, 0, 1, 0
    BEGIN
        CONTROL "",IDC_MEMORY_LIST,"LISTBOX",WS_VSCROLL | WS_BORDER | ES_AUTOHSCROLL,50,50,300,200
        LTEXT "Теги:",-1,50,260,80,20
        EDITTEXT IDC_MEMORY_TAGS,140,260,200,20,ES_AUTOHSCROLL
        LTEXT "Значение:",-1,50,300,100,20
        EDITTEXT IDC_MEMORY_VALUE,140,300,200,20,ES_AUTOHSCROLL
        PUSHBUTTON "Добавить",IDC_MEMORY_ADD,80,340,100,30
        PUSHBUTTON "Удалить",IDC_MEMORY_DELETE,200,340,100,30
    END
}